In [ ]:
n = input()
print(n + '??!')

joonas
joonas??!

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
n = int(input())
print(n-543)

2541
1998

In [ ]:
n1 = int(input())
n2 = input()

x1 = n1 * int(n2[2])
x2 = n1 * int(n2[1])
x3 = n1 * int(n2[0])

print(x1)
print(x2)
print(x3)
print(n1*int(n2))

472
385
2360
3776
1416
181720

In [ ]:
H, M = map(int, input().split())
timer = int(input()) 

H += timer // 60
M += timer % 60

if M >= 60:
    H += 1
    M -= 60
if H >= 24:
    H -= 24

print(H,M)

17 40
80
18
60
19
0
19 0

In [ ]:
n1, n2, n3 = map(int, input().split())

if n1 == n2 == n3:
  print(10000 + (n1*1000))
elif n1 == n2 or n1 == n3:
  print(1000 + (n1*100))
elif n2 == n3:
  print(1000 + (n2*100))
else:
  print(100 * max(n1, n2, n3))

6 2 5
600

In [ ]:
while True:
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  else:
    print(a+b)

1 1
2
2 3
5
3 4
7
0 0

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print(A+B)
    except:
        break