# 단계별로 풀어보기

In [ ]:
# 백준 3052번
# 나머지

b = 42
arr =[]

for i in range(10):
  a = int(input())
  arr.append(a % b)

result = set(arr)
print(len(result))

42
84
252
420
840
126
42
84
420
126
1

In [ ]:
c = int(input())

for i in range(c):
  score = list(map(int, input().split()))
  avg = sum(score[1:])/score[0]
  count = 0
  for result in score[1:]:
    if result > avg:
      count += 1
  rate = count/score[0] * 100
  print(f'{rate:.3f}%')

1
5 50 50 70 80 100
40.000%

In [ ]:
# 백준 15596번
# 정수 N개의 합

def solve(a: list):
  result = sum(a)
  return result

a = [1, 2, 3, 4]

solve(a)

10

In [ ]:
# 백준 11654번
# 아스키 코드
# 잘 되는데 틀렸다고 함
def ascii(n):
  y = ord(n)
  return y

n = input()
ascii(n)

z

122

In [ ]:
# 위 문제 해결
n = input()
print(ord(n))

a
97

In [ ]:
# 백준 11720번
# 숫자의 합

n = int(input())
num = input()
sum = 0

for i in num:
  sum += int(i)

print(sum)

5
54321
15

In [ ]:
# 백준 10809번
# 알파벳 찾기

n = input()
alphabet = list(range(97, 123))

for i in alphabet:
  print(n.find(chr(i)), end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [ ]:
# 백준 2675번
# 문자열 반복

n = int(input())

for i in range(n):
  num, string = map(str, input().split())
  for j in string:
    print(j*int(num), end='')
  print('')

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
# 백준 1152번
# 단어의 개수

sentence = input()

result = len(sentence.split())
print(result)

The Curious Case of Benjamin Button
6

In [ ]:
# 백준 2908
# 상수
a, b = map(str, input().split())
a_re = int(a[::-1])
b_re = int(b[::-1])

print(max(a_re, b_re))

734 893
437

In [ ]:
# 백준 5622
# 다이얼

n = input()
sum = 0

for i in n:
  if 'A'<= i <= 'C':
    sum += 3
  elif 'D' <= i <= 'F':
    sum += 4
  elif 'G' <= i <= 'I':
    sum += 5
  elif 'J' <= i <= 'L':
    sum += 6
  elif 'M' <= i <= 'O':
    sum += 7
  elif 'P' <= i <= 'S':
    sum += 8
  elif 'T' <= i <= 'V':
    sum += 9
  elif 'W' <= i <= 'Z':
    sum += 10

print(sum)

UNUCIC
36